header {
    background: #595959;
    min-height: 200px;
    max-height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    text-align: center;
    color: #0FBFBE;
    margin: 50px;
    padding: 50px 0;
    border: #0FBFBE 5px; 
}
